@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital@1&display=swap");
* {
  margin: 0;
  padding: 0; }

/* Fuente Local */
@font-face {
  font-family: "Caveat";
  src: url(../typo/Caveat/Caveat-VariableFont_wght.ttf); }

/* Fuente externa */
/* header index  */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  /* height: 10vh; */
  background-color: white;
  position: sticky;
  z-index: 5000;
  top: 0;
  border-bottom: 3px solid #512421; }
  .header__logo a img {
    width: 60px;
    margin: 10px; }
  .header__colornav {
    background-color: white !important; }
    .header__colornav form .bus-color {
      color: #512421;
      border-color: #512421; }
      .header__colornav form .bus-color:hover {
        background-color: #512421 !important;
        border-color: white !important;
        color: white; }

/* footer */
.footer {
  background-color: white;
  width: 100vw;
  border-top: 3px solid #512421;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer__ul {
    padding: 10px; }
    .footer__ul li {
      text-align: center;
      color: black;
      list-style: none;
      font-family: 'Noticia Text', serif; }
  .footer__div a img {
    width: 20px; }

@media (max-width: 576px) {
  /* footer */
  .media-main {
    height: 72vh; }
  footer {
    height: 18vh; }
  footer ul li {
    font-size: 13px;
    margin: auto; } }

/* main index */
.mainindex__carrusel {
  width: 100vw; }

.mainindex__tituloharas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #512421;
  width: 100vw;
  height: 150px;
  margin-top: 10px; }
  .mainindex__tituloharas h1 {
    font-size: 60px;
    font-family: 'Noticia Text', serif;
    text-align: center; }

.mainindex h3 {
  font-family: "Caveat";
  font-style: italic;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px; }

.mainindex__parrafoinicio p {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-family: 'Noticia Text', serif; }

@media (max-width: 576px) {
  .mainindex__tituloharas {
    height: 80px; }
    .mainindex__tituloharas h1 {
      font-size: 45px;
      margin: 10px; }
  .mainindex h3 {
    font-size: 35px; }
  .mainindex__parrafoinicio p {
    font-size: 20px; } }

/* SECCION SEMENTALES */
.mainsementales__flexsementales {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px; }

.mainsementales__infosementales {
  width: 70%;
  margin: auto;
  text-align: center; }

@media (max-width: 576px) {
  .mainsementales__titulopadrillos {
    font-size: 30px; }
  .mainsementales .tamaño-padrillos {
    width: 350px;
    margin: auto;
    padding: 10px; }
  .mainsementales .video {
    width: 250px;
    height: 215px;
    margin: auto; }
  .mainsementales__infosementales p {
    font-size: 15px; } }

/* MAIN SECCION MADRES */
.negrita {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Noticia Text', serif; }

.negrita-hijos {
  font-weight: bolder; }

/* madres grid */
.grid-madres {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "dashin-img dashin-tb" "ava-tb ava-img" "fell-img fell-tb" "hempen-tb hempen-img" "creme-img creme-tb"; }

.dashin-img {
  grid-area: dashin-img;
  margin: auto; }

.dashin-tb {
  grid-area: dashin-tb;
  background-color: whitesmoke;
  height: 50rem;
  text-align: left;
  font-family: 'Noticia Text', serif;
  padding: 40px;
  margin: auto; }

.ava-tb {
  grid-area: ava-tb;
  background-color: whitesmoke;
  height: 50rem;
  text-align: left;
  font-family: 'Noticia Text', serif;
  padding: 40px;
  margin: auto; }

.ava-img {
  grid-area: ava-img;
  margin: auto; }

.fell-img {
  grid-area: fell-img;
  margin: auto; }

.fell-tb {
  grid-area: fell-tb;
  background-color: whitesmoke;
  height: 50rem;
  text-align: left;
  font-family: 'Noticia Text', serif;
  padding: 120px 40px 0 40px;
  margin: auto; }

.hempen-tb {
  grid-area: hempen-tb;
  background-color: whitesmoke;
  height: 50rem;
  text-align: left;
  font-family: 'Noticia Text', serif;
  padding: 120px 40px 0 40px;
  margin: auto; }

.hempen-img {
  grid-area: hempen-img;
  margin: auto; }

.creme-img {
  grid-area: creme-img;
  margin: auto; }

.creme-tb {
  grid-area: creme-tb;
  background-color: whitesmoke;
  height: 50rem;
  text-align: left;
  font-family: 'Noticia Text', serif;
  padding: 120px 40px 0 40px;
  margin: auto; }

@media (max-width: 576px) {
  .grid-madres {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.2fr 0.5fr 1.4fr 0.5fr 0.2fr 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "dashin-img" "dashin-tb" "ava-img" "ava-tb" "fell-img" "fell-tb" "hempen-img" "hempen-tb" "creme-img" "creme-tb"; }
  .dashin-img {
    background-color: whitesmoke;
    padding: 40px; }
  .dashin-tb {
    margin: 0;
    height: 55rem;
    background-color: white; }
  .ava-img {
    background-color: whitesmoke;
    padding: 40px; }
  .ava-tb {
    margin: 0;
    background-color: white; }
  .fell-img {
    background-color: whitesmoke;
    padding: 40px; }
  .fell-tb {
    padding: 40px;
    background-color: white;
    height: 30rem; }
  .hempen-img {
    background-color: whitesmoke;
    padding: 40px; }
  .hempen-tb {
    padding: 40px;
    background-color: white; }
  .creme-img {
    background-color: whitesmoke;
    padding: 40px; }
  .creme-tb {
    background-color: white;
    padding: 40px;
    height: 30rem; }
  p {
    font-size: 15px; } }

/* SECCION PRODUCTOS EN VENTA */
.prod-venta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "potrillo1 potrillo2 potrillo3" "potrillo4 potrillo5 potrillo6"; }

.potrillo1 {
  grid-area: potrillo1;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px black; }

.potrillo2 {
  grid-area: potrillo2;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px black; }

.potrillo3 {
  grid-area: potrillo3;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px black; }

.potrillo4 {
  grid-area: potrillo4;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px black; }

.potrillo5 {
  grid-area: potrillo5;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px black; }

.potrillo6 {
  grid-area: potrillo6;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px black; }

.potrillo1,
.potrillo2,
.potrillo3,
.potrillo4,
.potrillo5,
.potrillo6 {
  overflow: hidden; }

.flex-enlace {
  display: flex;
  justify-content: center; }
  .flex-enlace a:visited {
    color: #9a9a9a; }
  .flex-enlace a:active {
    color: #512421; }

@media (max-width: 576px) {
  .prod-venta {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "potrillo1" "potrillo2" "potrillo3" "potrillo4" "potrillo5" "potrillo6"; }
  .potrillo1, .potrillo2, .potrillo3, .potrillo4, .potrillo5, .potrillo6 {
    max-width: 300px; }
    .potrillo1 .tamaño-potrillos, .potrillo2 .tamaño-potrillos, .potrillo3 .tamaño-potrillos, .potrillo4 .tamaño-potrillos, .potrillo5 .tamaño-potrillos, .potrillo6 .tamaño-potrillos {
      max-width: 100%; } }

/* SECCION CONTACTO */
.maincontacto div form {
  height: 45vh; }
  .maincontacto div form .maincontacto__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .maincontacto div form .maincontacto__block .input-cont {
      border-radius: 5px;
      font-size: 15px;
      margin: 20px;
      height: 30px;
      text-align: center; }
      .maincontacto div form .maincontacto__block .input-cont:focus {
        transform: scale(1.1);
        transition: .3s; }
    .maincontacto div form .maincontacto__block .boton {
      border-radius: 10%;
      padding: 3px;
      background-color: white; }
      .maincontacto div form .maincontacto__block .boton:hover {
        border-color: white;
        color: white;
        background-color: #512421;
        border-radius: 10%; }
    .maincontacto div form .maincontacto__block .caja-mensaje {
      height: 100px;
      width: 600px; }

.maincontacto div iframe {
  height: 20vh;
  width: 100vw; }

@media (max-width: 576px) {
  .maincontacto__block .caja-mensaje {
    height: 80px;
    width: 400px; }
  .maincontacto__block .input-cont {
    margin: 5px; } }

/* Seccion titulo de madres, padrillos, potrillos e imagen */
.nombres-imp h2,
.mainsementales__titulopadrillos {
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size: 35px; }

.fondo-secciones-titulo {
  font-size: 50px;
  background-color: #512421;
  width: 100vw;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Noticia Text', serif; }

@media (max-width: 576px) {
  .fondo-secciones-titulo {
    height: 80px;
    font-size: 40px; } }
