// extend aplicado en grid productos en venta//
.grid-prod {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px black;
}

// mixin aplicado en titulos-generales desktop y resposive//
@mixin fondotitulo ($altura,$fuente){
    background-color: $color-principal;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Noticia Text', serif;
    height: $altura;
    font-size: $fuente;
}