    /* Seccion titulo de madres, padrillos, potrillos e imagen */
    .nombres-imp h2,
    .mainsementales__titulopadrillos{
        text-align: center;
        font-family: 'Noticia Text', serif;
        font-size: 35px;
    }

    .fondo-secciones-titulo {
        @include fondotitulo (100px, 50px);
    }


// media query - estrategia mobile last//
@media (max-width:576px){
    .nombres-imp h2,
    .mainsementales__titulopadrillos{
        font-size: 28px
    }
    .fondo-secciones-titulo {
            @include fondotitulo (85px, 33px);
            text-align: center;
        }
}


@media (max-width:390px){
    .fondo-secciones-titulo {
        height: 75px;
        font-size: 30px;
        
    }
}